@font-face {
    font-family: 'MingLiU';
    src: url('MingLiU.woff2') format('woff2'),
        url('MingLiU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

